.full_black{
	padding: 40px;
	background-color: #000;
	width: calc(100% - 80px);
	min-height: 200px;
}

.full_black ul{
	padding: 0px;
	margin: 0px;
}
.full_black ul li{
	list-style: none;
	display: block;
	width: 100%;
}
.full_black ul li a{
	width: 100%;
	display: block;
	padding-left: 10px;
	line-height: 42px;
	font-size: 26px;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.full_black ul li a:hover{
	background-color: #111;
}

.membre_profil{
	/*background-image: url(../images/common/black_background.jpg);*/
	background-attachment: fixed;
	min-height: calc(100vh - 140px);
  	padding-top: 42px;
  	padding-bottom: 30px;
  	color: #FFF;
}

.membre_menu{
	width: 240px;
	background-color: #000;
	float: left;
	z-index: 1;
	position: relative;
	transition: margin ease-in 0.3s;
}
.membre_menu.scroll{
	margin-top: -22px;
	transition: margin ease-in 0.3s;
}
.membre_menu .infos{
	width: calc(100% - 40px);
	padding: 20px;
}
.membre_menu .img{
	width: 160px;
	margin: 0 auto;
}
.img{
	text-align: center;
}
.img img{
	width: auto;
	max-width: 100%;
}
.membre_menu .infos .img img{
	border-radius: 100%;
}

.membre_menu h1{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: #FFF;
	font-size: 26px;
	line-height: 32px;
	padding: 14px 0px;
}

.membre_menu .infos p, .membre_info p{
	color: #DDD;
	margin: 0px;
	line-height: 28px;
	text-align:center;
}

.membre_info{
	width: calc(100% - 47px);
	float: right;
	background-color: #171650;
	padding: 20px;
	margin-bottom: 20px;
}

.membre_info h2{
	color: #FFF;
	background-image: url(../images/common/logo2.png);
	font-size: 38px;
	background-size: auto 26px;
	padding-left: 30px;
	font-weight: lighter;
	padding-bottom: 20px;
}
.membre_info h2 span{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 1px;
}

.membre_profil form label{
	width: 300px;
	display: inline-block;
	margin-bottom: 5px;
}

.listing{
	padding: 0px;
	margin: 0px;
}
.listing li{
	display: block;
	list-style: none;
	width: 100%;
	border-bottom: 1px solid #000;
}
.listing li:last-child{
	border: none;
}
.listing li a{
	background-color: rgba(10,10,10,1);
	display: block;
	width: calc(100% - 20px);
	line-height: 46px;
	padding-left: 20px;
	color: #777;
}
.listing li a:hover{
	background-color: rgba(20,20,20,1);
}

.membre_profil .list_events .event{
		width: 280px;
		float: left;
		margin-bottom: 25px !important;
		color: #000;
}
.membre_profil .list_events .event p{
		color: #000;
}
.membre_profil .list_events .event:nth-child(1), .list_events .event:nth-child(2){
	margin-bottom: 25px !important;
}
.membre_profil .list_events .event .top{
	height: 170px;
}
.membre_profil .list_events .event .logo_event{
	width: 80px;
	height: 80px;
	margin-left: 100px;
	margin-top: 130px;
}

.change_picture{
	position: absolute;
	width: calc(100% - 80px);
	text-align: center;
	background-color: rgba(255,255,255,0.8);
	border-radius: 100%;
	height: 160px;
	opacity: 0;
	transition: opacity ease-in 0.2s;
}
.change_picture img{
	width: 50px;
	margin-top: 55px;
	cursor: pointer;
}

.membre_menu .img:hover .change_picture{
	opacity: 1;
	transition: opacity ease-in 0.2s;
}

.mini_bio{
  font-size: 15px;
  text-align: center;
}

.mini_bio{
  font-size: 15px;
  text-align: center;
}

.delete, #errorModify {
  color:red;
}

.avatarDisplay {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.avatarDisplay img {
  width: 300px;
}

.avatarDisplay p {
  font-size: 20px;
  margin-bottom: 10px;
}

#dropfile{
width: 300px;
height: 50px;
border: 3px dashed #BBBBBB;
line-height:50px;
text-align: center;
}


.drop{
	border:2px dotted #bdc3c7;
	padding:20px;
	margin-bottom:20px;
	width:100%;
	height:100px;
	color: #bdc3c7;
	font-size:200%;
}

@media (max-width: 1279px) {
	.membre_profil .list_events{
		padding-left: 35px;
	}
	.membre_profil .list_artists .artist{
		width: 50%;
	}
}
@media (max-width: 1023px) {
	.membre_profil .list_events .event{
		margin-right: 0px !important;
	}
	.membre_profil .list_events{
		padding: 0px;
		width: 280px;
		margin: 0 auto;
	}
}
@media (max-width: 767px) {
	.membre_profil{
		padding-top: 70px;
	}
	.membre_menu{
		position: relative;
		margin-bottom: 20px;
	}
	.membre_menu, .membre_info{
		width: 280px;
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.membre_info{
		width: 280px;
	}
	.membre_profil .list_artists .artist{
		width: 100%;
	}
	.change_picture{
		width: 50px;
		height: 50px;
		opacity: 1;
		background-color: transparent;
		margin-left: 10px;
		margin-top: 10px;
	}
	.change_picture img{
		margin: 0px;
	}
}
