@charset "utf-8";
/* CSS Document */

	body{
	background:url('wallpaper1.jpg') no-repeat;
	text-align: center;
	color: #2c3e50;
} 
	.ColourText {
	color: #FFF;
	text-align: center;
	}
	
    .TEXT {
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	color:#FFFFFF
	}
	
    tableau {
	text-align: left;
	}
	
 
	.wrap {
	position: relative;
	width: 1040px;
	margin: 0 auto;
	text-align: center;
	}
	a {
	text-decoration: none;
	color: #FF6600;
	font-weight: bold;
	font-size: 15px;
	}
	

	
		headerMenu {
	text-align: left;
}
    .header .wrap nav table {
	color: #F00;
	font-size: xx-large;
}
    HEADERmenu {
}
    .hitmo {
	color: #F60;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
}
    .footer {
	text-align: center;
}
.ul1_1{
	/*border-bottom: 2px #630 solid;*/
	font-size: 20px;
}

.ul1 {
display: inline-block;
text-align: center;
padding-right: 50px;
}

a {
	text-decoration: none;
	color: #ccaa79;
	font-weight: lighter;
	font-size: 15px;
}

    menu {
	font-size: 36px;
}
    me {
	font-size: 9px;
}
radius{
	-moz-border-radius-topleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}



span.top-left
{
    position       : absolute;
    width          : 4px;
    height         : 4px;
    overflow       : hidden;
    top	           : -1px;
    left           : -1px;
    background     : url("top-left.gif");
}
 
span.bottom-left
{
    position       : absolute;
    width          : 4px;
    height         : 4px;
    overflow       : hidden;
    bottom         : -1px;
    left           : -1px;
    background     : url("bottom-left.gif");
}
 
span.bottom-right
{
    position       : absolute;
    width          : 4px;
    height         : 4px;
    overflow       : hidden;
    bottom         : -1px;
    right          : -1px;
    background     : url("bottom-right.gif");
}
 
span.top-right
{
    position       : absolute;
    width          : 4px;
    height         : 4px;
    overflow       : hidden;
    top            : -1px;
    right          : -1px;
    background     : url("top-right.gif");
}

img {
border-radius: 5px 5px 5px 5px;
}

#menuBo {
    padding-left: 7%;
    padding-top: 1%;
    text-align: center;
    display: flex;
}


/*_________________________________________________________________________________CSS MENU DEROULANT_____________________________________________________________________*/


/*-----------------------------------------------------------------------------------MENU 1 ----------------------------------------------------------------------------------*/
#menu-accordeon1, #menu-accordeon1 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}

#menu-accordeon1 li{
display:inline-block;
position:relative;
border-radius:8px 8px 8px 8px;
}

#menu-accordeon1 li:hover{
border-radius:8px 8px 0px 0px;
}

#menu-accordeon1 ul li{
display:inherit;
border-radius:0;
}

#menu-accordeon1 ul li:hover{
border-radius: 0px;
}
#menu-accordeon1 ul li:last-child{
border-radius:0 0 8px 8px;
}

#menu-accordeon1 ul{
position:absolute;
max-height:0;
width:100%;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-accordeon1 li:hover ul{
max-height:15em;
}

/* background des liens menus */

#menu-accordeon1 li:last-child{
background-color: rgba(5, 1, 15, 0.9);
/*background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);*/
}

/* background des liens sous menus */

#menu-accordeon1 li:last-child li{
background:#2A2333;
}

/* background des liens menus et sous menus au survol */

#menu-accordeon1 li:last-child:hover, #menu-accordeon1 li:last-child li:hover{
background:#65537A;
}

/* les a href */

#menu-accordeon1 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}

#menu-accordeon1 ul a{
padding:8px 0;
}
#menu-accordeon1 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-accordeon1 li:hover a, #menu-accordeon1 li li:hover a{
color:#000;
}
/*-----------------------------------------------------------------------------------MENU 2 ----------------------------------------------------------------------------------*/
#menu-accordeon2, #menu-accordeon2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}

#menu-accordeon2 li{
display:inline-block;
position:relative;
border-radius:8px 8px 8px 8px;
}

#menu-accordeon2 li:hover{
border-radius:8px 8px 0px 0px;
}

#menu-accordeon2 ul li{
display:inherit;
border-radius:0;
}

#menu-accordeon2 ul li:hover{
border-radius: 0px;
}
#menu-accordeon2 ul li:last-child{
border-radius:0 0 8px 8px;
}

#menu-accordeon2 ul{
position:absolute;
max-height:0;
width:100%;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-accordeon2 li:hover ul{
max-height:15em;
}

/* background des liens menus */

#menu-accordeon2 li:last-child{
background-color: rgba(5, 1, 15, 0.9);
/*background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);*/

/*background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);*/
}

/* background des liens sous menus */

#menu-accordeon2 li:last-child li{
background:#333A40;
}

/* background des liens menus et sous menus au survol */

#menu-accordeon2 li:last-child:hover, #menu-accordeon2 li:last-child li:hover{
background:#729EBF;
}

/* les a href */

#menu-accordeon2 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}

#menu-accordeon2 ul a{
padding:8px 0;
}
#menu-accordeon2 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-accordeon2 li:hover a, #menu-accordeon2 li li:hover a{
color:#000;
}

/*-----------------------------------------------------------------------------------MENU 3 ----------------------------------------------------------------------------------*/
#menu-accordeon3, #menu-accordeon3 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}

#menu-accordeon3 li{
display:inline-block;
position:relative;
border-radius:8px 8px 8px 8px;
}

#menu-accordeon3 li:hover{
border-radius:8px 8px 0px 0px;
}

#menu-accordeon3 ul li{
display:inherit;
border-radius:0;
}

#menu-accordeon3 ul li:hover{
border-radius: 0px;
}
#menu-accordeon3 ul li:last-child{
border-radius:0 0 8px 8px;
}

#menu-accordeon3 ul{
position:absolute;
max-height:0;
width:100%;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-accordeon3 li:hover ul{
max-height:15em;
}

/* background des liens menus */

#menu-accordeon3 li:last-child{
background-color: rgba(5, 1, 15, 0.9);

}

/* background des liens sous menus */

#menu-accordeon3 li:last-child li{
background:#9F391A;
}

/* background des liens menus et sous menus au survol */

#menu-accordeon3 li:last-child:hover, #menu-accordeon3 li:last-child li:hover{
background:#F6AD1A;
}

/* les a href */

#menu-accordeon3 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}

#menu-accordeon3 ul a{
padding:8px 0;
}
#menu-accordeon3 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-accordeon3 li:hover a, #menu-accordeon3 li li:hover a{
color:#000;
}
/*-----------------------------------------------------------------------------------MENU 4 ----------------------------------------------------------------------------------*/
#menu-accordeon4, #menu-accordeon4 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}

#menu-accordeon4 li{
display:inline-block;
position:relative;
border-radius:8px 8px 8px 8px;
}

#menu-accordeon4 li:hover{
border-radius:8px 8px 0px 0px;
}

#menu-accordeon4 ul li{
display:inherit;
border-radius:0;
}

#menu-accordeon4 ul li:hover{
border-radius: 0px;
}
#menu-accordeon4 ul li:last-child{
border-radius:0 0 8px 8px;
}

#menu-accordeon4 ul{
position:absolute;
max-height:0;
width:100%;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-accordeon4 li:hover ul{
max-height:15em;
}

/* background des liens menus */

#menu-accordeon4 li:last-child{
background-color: rgba(5, 1, 15, 0.9);

}

/* background des liens sous menus */

#menu-accordeon4 li:last-child li{
background:#F36;
}

/* background des liens menus et sous menus au survol */

#menu-accordeon4 li:last-child:hover, #menu-accordeon4 li:last-child li:hover{
background:#F03;
}

/* les a href */

#menu-accordeon4 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}

#menu-accordeon4 ul a{
padding:8px 0;
}
#menu-accordeon4 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-accordeon4 li:hover a, #menu-accordeon4 li li:hover a{
color:#000;
}
/*-----------------------------------------------------------------------------------MENU 5 ----------------------------------------------------------------------------------*/
#menu-accordeon5, #menu-accordeon5 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}

#menu-accordeon5 li{
display:inline-block;
position:relative;
border-radius:8px 8px 8px 8px;
}

#menu-accordeon5 li:hover{
border-radius:8px 8px 0px 0px;
}

#menu-accordeon5 ul li{
display:inherit;
border-radius:0;
}

#menu-accordeon5 ul li:hover{
border-radius: 0px;
}
#menu-accordeon5 ul li:last-child{
border-radius:0 0 8px 8px;
}

#menu-accordeon5 ul{
position:absolute;
max-height:0;
width:100%;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-accordeon5 li:hover ul{
max-height:15em;
}

/* background des liens menus */

#menu-accordeon5 li:last-child{
background-color: rgba(5, 1, 15, 0.9);

}

/* background des liens sous menus */

#menu-accordeon5 li:last-child li{
background:#677F35;
}

/* background des liens menus et sous menus au survol */

#menu-accordeon5 li:last-child:hover, #menu-accordeon5 li:last-child li:hover{
background:#CFFF6A;
}

/* les a href */

#menu-accordeon5 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}

#menu-accordeon5 ul a{
padding:8px 0;
}
#menu-accordeon5 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-accordeon5 li:hover a, #menu-accordeon5 li li:hover a{
color:#000;
}

/*-----------------------------------------------------------------------------------MENU 6 ----------------------------------------------------------------------------------*/


#menu-accordeon6, #menu-accordeon6 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}

#menu-accordeon6 li{
display:inline-block;
position:relative;
border-radius:8px 8px 8px 8px;
}

#menu-accordeon6 li:hover{
border-radius:8px 8px 0px 0px;
}

#menu-accordeon6 ul li{
display:inherit;
border-radius:0;
}

#menu-accordeon6 ul li:hover{
border-radius: 0px;
}
#menu-accordeon6 ul li:last-child{
border-radius:0 0 8px 8px;
}

#menu-accordeon6 ul{
position:absolute;
max-height:0;
width:100%;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-accordeon6 li:hover ul{
max-height:15em;
}

/* background des liens menus */

#menu-accordeon6 li:last-child{
background-color: rgba(5, 1, 15, 0.9);
/*background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);*/
}

/* background des liens sous menus */

#menu-accordeon6 li:last-child li{
background:#d8d0ef;
}

/* background des liens menus et sous menus au survol */

#menu-accordeon6 li:last-child:hover, #menu-accordeon6 li:last-child li:hover{
background:#bcaaf0;
}

/* les a href */

#menu-accordeon6 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}

#menu-accordeon6 ul a{
padding:8px 0;
}
#menu-accordeon6 li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-accordeon6 li:hover a, #menu-accordeon6 li li:hover a{
color:#000;
}


/*____________________________________________________________________________________________________________________________________________________________________________*/
